/* CSS RESET 2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BIRDIES CODE */
button{
    border: none;
    background-color: rgba(255,255,255,0);
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18;
    line-height: 22px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 34px;
}
main{
    display: flex;
    flex-direction: column;
}
.hero{
    background-image: url(../img/hero.png);
    height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}
header{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}
.logohero{   
}
.articlehero{
    color: white;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.titlehero{
    padding-bottom: 20px
}
.texthero{
    
}
.downbttn{
    height: 100%;
    width:auto;
    padding-top: 13%;
    padding-right: 5%;
}
.scroll{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ester{
    min-width: 100%;
    display: flex;
    background-color: white;
}
.leftimg{
    max-width: 40%;
}
.imgesteril{
    max-height: 80%;
}
.laprimera{
    max-width: 60%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.primeratitle{
    color: #59BEC9;
    padding-bottom: 5%;
}
.primeratext{
    
}
.reverse{
    flex-direction: row-reverse;
}
footer {
  /* place on the bottom */
  position: sticky;
  bottom: 0;
  left: 0;
  background: #288790;
  display: grid;
  place-items: center;
  padding: 50px;
    z-index: -1;
}